$primary-text-color: $body-font-color;
$secondary-text-color: lighten($body-font-color, 15%);

$secondary-font-size: $paragraph-font-size * 0.9;
$ternary-font-size: $secondary-font-size * 0.9;

$text-color: $primary-text-color;
$base-line-height: paragraph-line-height;
$background-color: $white;
$secondary-background-color: lighten($secondary-color, 5%);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$hamburger-menu-width: rem-calc(18);
$hamburger-menu-height: rem-calc(15);
$hamburger-space: rem-calc(10);
$hamburger-border-width: 1px;

$footer-reduction: 1;

$selection-color: #ff9;

/**
 * Generic styles.
 */

 blockquote {
   font-size: $primary-font-size;
 }

 .site-title {
   font-size: $h1-font-size * 0.75;
   font-family: $font-family-serif;
 }

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $secondary-text-color;
    }
  }
}

a:hover {
  .icon {
    > svg {
      path {
        fill: $primary-text-color;
      }
    }
  }
}

.post-header {
  margin-bottom: $paragraph-margin-bottom;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

.post-meta {
  color: $secondary-text-color;
  font-size: $ternary-font-size;
  .category {
    text-transform: capitalize;
  }
}

.more-link {
  text-align: right;
  font-size: $secondary-font-size;
  margin: 0;
}

article {
  .more-link {

  }
}

.content-wrapper {
  padding-top: $column-gutter / 2;
}

.social-media-list {
  ul {
    list-style: none;
    overflow: auto;
    margin: 0;
  }
  li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.post-excerpt {
  // To have gap between post excerpts on listing pages.
  margin-bottom: $paragraph-margin-bottom + $paragraph-margin-bottom / 2;
}

.footer-menu {
  ul, ol {
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: $column-gutter / 2
      }
    }
  }
}

// Do not combine following rules, the will not work!
*::selection {
  background: $selection-color;
}
*::-moz-selection {
  background: $selection-color;
}

/**
 * Page sections.
 */

.page-wrapper {
  background-color: $background-color;
}

.header-wrapper {
  background-color: $secondary-background-color;
  border-bottom: 1px solid $secondary-color;
  padding: $column-gutter 0;
  margin-bottom: $column-gutter;
  a {
    color: $primary-text-color;
    &:hover {
      color: lighten($primary-text-color, 20%);
    }
  }
}

.footer-wrapper {
  margin: $column-gutter 0;
  text-align: center;
  padding: $column-gutter / 2 0;
  background-color: $secondary-color;
  p, a {
    font-size: 1rem * $footer-reduction;
  }

  h1 {
    font-size: $h1-font-size * $footer-reduction;
  }
  h2 {
    font-size: $h2-font-size * $footer-reduction;
  }
  p, li {
    color: $secondary-text-color;
  }
}

.site-footer {
  > * {
    margin-bottom: $paragraph-margin-bottom;
  }
}

.site-nav {
  line-height: 1.6;
  margin: ($list-margin-bottom / 2)  0;
  background-color: $secondary-background-color;
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    line-height: 0;
    padding: 0;
  }
  .trigger {
    list-style: none;
    margin: 0;
    overflow: hidden;
    text-align: right;
    li {
      display: inline-block;
      margin: 0 $column-gutter / 2;
      // Credit https://www.silvrback.com/ blogs.
      text-align: match-parent;
    }
    a {
      display: inline-block;
    }
  }
  @media #{$small-only} {
    border: $hamburger-border-width solid $grey-color-light;
    border-radius: 5px;
    width: $hamburger-menu-width + $hamburger-space * 2 + rem-calc($hamburger-border-width);
    min-height: $hamburger-menu-height + $hamburger-space * 2 + rem-calc($hamburger-border-width);
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: $column-gutter;
    .nav-button {
      position: absolute;
      right: 0;
    }
    .menu-icon {
      display: block;
      width: $hamburger-menu-width;
      height: $hamburger-menu-height;
      margin: $hamburger-space;
      svg {
        width: $hamburger-menu-width;
        height: $hamburger-menu-height;
        path {
          fill: $secondary-text-color;
        }
      }
    }
    &:hover {
      max-height: none;
      width: auto;
    }
    &:hover .trigger {
      display: block;
      width: auto;
      height: auto;
      margin-top: $hamburger-menu-height + $hamburger-space * 2;
    }
    .trigger {
      width: 1px;
      height: 1px;
      li {
        display: block;
        text-align: right;
        &:not(:first-child) {
          margin-left: $hamburger-space;
        }
      }
    }
  }
}

#disqus_thread {
  margin-bottom: $column-gutter / 2;
}

/**
 * Code formatting.
 * Copied from jekyll default site.
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    margin-bottom: $paragraph-margin-bottom;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight {
  margin-bottom: $paragraph-margin-bottom;
}

.footnotes {
  margin-top: $column-gutter;
  p, a, ol, ul, li {
    font-size: $secondary-font-size;
  }
  p {
    margin-bottom: 0;
  }
}
