<nav class="footer-menu">
  <h2 class="show-for-sr">{{ menu.title }}</h2>
  <ul>
    {% for item in menu.items %}
      {% if item.title %}
        <li><a href="{{ item.href }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
