<nav class="site-nav second-column pure-u-1 pure-u-md-2-3 small-3 medium-8 columns">
  <h2 class="show-for-sr">{{ menu.title }}</h2>
  <ul>
    {% for item in menu.items %}
      {% if item.title %}
        <li><a class="page-link" href="{{ item.href }}">{{ item.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
