{% extends "default.twig" %}
{% block page_title %}{{page.title}} - {{site.title}}{% endblock %}
{% block content %}
<main class="post-wrapper row" role="main">
  {{ page.content }}
</main>
{% endblock %}
